.name-prompt{
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	background-color: #eee;
	z-index: 2;
	padding: 10px;
}

.game-name{
	position: relative;
	font-size: xx-large;
	font-family: cursive;
	left: 50%;
	margin-left: -200px;
	color: #ff6666;
	padding: 10px;
}

.chicken-selection{
	display: inline-block;
	width: 350px;
	padding: 0;
	list-style-type: none;
	margin: 20px auto 0 auto;
}

.chicken-select label{
	display: inline-block;
	margin: 10px 0;
	width: 100%;
	text-align: center;
}

.chicken-selection li{
	float: left;
	width: 33%;
	text-align: center;
	cursor: pointer;
	border: 2px solid #eee;
	padding: 10px 0;
}

.chicken-selection li.selected{
	border: 2px solid #158cba;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	border-radius: 5px;
}

.chicken-selection img{
	width: 80px;
	height: 100px;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
	25% {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	75% {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
  }
  @keyframes hvr-pulse {
	25% {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	75% {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
  }
  .hvr-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
	-webkit-animation-name: hvr-pulse;
	animation-name: hvr-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  }